<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
    <title>Demo</title>
    <style>
        body {
            overflow-x: hidden;
        }

        .console-wrapper {
            margin: auto;
            padding: 12px;
            width: 80%;
            background: #eee;
        }
    </style>
</head>
<body>
    <div class="console-wrapper">
        <pre id="console"></pre>
    </div>
<!-- <form>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
    <script src="https://cdn.bootcss.com/socket.io/2.1.0/socket.io.js"></script>
    <script src="https://cdn.bootcss.com/lodash.js/4.17.10/lodash.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script>
        // 不重要的代码，仅展示使用 - start
        const con = document.querySelector('#console');
        const doc = document.documentElement;
        const wh = document.documentElement.clientHeight;
        const _scrollToBottom = (function () {
            return _.throttle(function () {
                doc.scrollTop = doc.scrollHeight;
            }, 100);
        })();
        const scrollToBottom = function () {
            if (doc.scrollHeight > wh) {
                _scrollToBottom();
            }
        };
        const log = function () {
            let msgList = [].slice.apply(arguments);
            msgList = msgList.map(function (msg) {
                if (typeof msg !== 'object') {
                    return msg;
                }
                try {
                    return JSON.stringify(msg, null, 2);
                } catch (error) {
                    return _.toString(msg);
                }
            });
            con.innerText += new Date().toLocaleString() + ' ' + msgList.join('') + '\n';
            scrollToBottom();
            console.log.apply(null, arguments);
        };
        // 不重要的代码，仅展示使用 - end
        window.onload = function () {
            // init
            const socket = io('/', {
                // 实际使用中可以在这里传递参数
                query: {
                    room: 'demo',
                    userId: `client_${Math.random()}`,
                },
                transports: ['websocket']
            });
            socket.on('connect', () => {
                const id = socket.id;
                log('#connect,', id, socket);
                // 监听自身 id 以实现 p2p 通讯
                socket.on(id, msg => {
                    log('#receive,', msg);
                });
            });
            // 接收在线用户信息
            socket.on('online', msg => {
                log('#online,', msg);
            });
            // 系统事件
            socket.on('disconnect', msg => {
                log('#disconnect', msg);
            });
            socket.on('disconnecting', () => {
                log('#disconnecting');
            });
            socket.on('error', () => {
                log('#error');
            });
            window.socket = socket;
        };
    </script>
</body>
</html>